.container {
    background: url('https://i.imgur.com/hfSbnLO.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    overflow: hidden;
}